<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}


<form action="" method="">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>You've successfully registered as new user</h1>
			</div>

			<div class="login-form">

                <div class="login-form">
                <input type="" value="Please Login as New User" class="btn btn-primary btn-large btn-block" >
			    <br>
                <p><a href='/login'>Login</a></p>
               
			</div>
			    <br>
			</div>
		</div>
	</div>
</form>
{% endblock %}
